<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
  </head>
  <body>
    <h3>Add Students</h3>
    {{#if err}}
      {{#each err.errors}}
        <p style="color: red;">{{ message }}</p>
      {{/each}}
    {{/if}}

    <form action="/students" method="post">
      <p>First Name: <input type="text" name="firstname" required/></p>
      <p>Last name: <input type="text" name="lastname" required/></p>
      <p>Email: <input type="text" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" required/></p>
      <button>ADD STUDENT</button>
    </form>
  </body>
</html>