<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/meta', {title: title}) %>
  <body>
    <% include ../partials/navigation %>
    <h3>Edit Students</h3>
      <form method="post">
        <p>First Name: <input type="text" name="firstname" value="<%= row.first_name %>"/></p>
        <p>Last name: <input type="text" name="lastname" value="<%= row.last_name %>"/></p>
        <p>Email: <input type="email" name="email" value="<%= row.email %>"/></p>
        <button>EDIT STUDENT</button>
      </form>
  </body>
</html>