<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Student</title>
  </head>
  <body>
    <h3>Edit Students</h3>
      {{#each row}}
        <form action="/students/edit/{{ id }}" method="post">
          <p>First Name: <input type="text" name="firstname" value="{{ first_name }}"/></p>
          <p>Last name: <input type="text" name="lastname" value="{{ last_name }}"/></p>
          <p>Email: <input type="email" name="email" value="{{ email }}"/></p>
          <button>EDIT STUDENT</button>
        </form>
      {{/each}}
  </body>
</html>